@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@font-face {
  font-family: "neon-tubes-2-regular";
  src:
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("woff"),
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("opentype"),
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("truetype")
  ;
}

body{
  text-align: center;
  color: white;
  margin: auto;
  height: 100vh;
  background: black url(images/brickwall.jpeg) center no-repeat;
  background-size:cover;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 50px;
}

.title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score {
  text-align: right;
  padding: 20px;
  margin-right: 20px;
  font-family: "neon-tubes-2-regular";
  font-size: 50px;
}

#game-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.answer-message {
  font-family: 'Montserrat', sans-serif;
}

#start-button{
  margin: 10px;
}

#next-button {
  margin-top: 50px;
}
 

.hide {
  display: none;
}

button.hide{
  display: none;
}


#question-text {
  font-size: 40px;
  color: rgb(255, 219, 214);
  font-family: "neon-tubes-2-regular", sans-serif;
  margin-bottom: 50px;
}


.final-score {
  font-size: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "neon-tubes-2-regular", sans-serif;
  color: rgb(255, 219, 214);
}

/*
Neon Light Effect
Source: https://https://codepen.io/nodws/pen/WNjXbr?editors=1100 
*/
.neon {
  user-select: none;
  font-family: "neon-tubes-2-regular", sans-serif;
}

.neon b {
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.neon b span{
  animation: blink linear infinite 2s;
}
.neon b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
/* Botton Effect
https://www.lenastanley.com/2022/01/css-neon-button-neon-effect.html*/

button {
  color: #1a0d54;
  border: 1px solid #1a0d54;
  border-radius:15px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  filter: drop-shadow(0 0 10px #c789b6) drop-shadow(0 0 5px #d695c5) contrast(1) brightness(1);
  transition: .5s;
  font-family: 'Montserrat', sans-serif;
}


button:hover {
  color: #422f53;
  color: white;
  background-color: rgb(26, 9, 101);
  filter: drop-shadow(0 0 10px rgb(255, 219, 214)eb1) contrast(2) brightness(2);
}

.answer-button {
  margin: 20px;
  width: 250px;
 
}

.next-button {
 padding: 5px;
}

  
@media only screen and (max-width: 600px) {

  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 60px;
  }

  .score {
    font-size: 20px;
  }
  #question-text {
    font-size: 30px;
    color: rgb(255, 219, 214);
    margin-bottom: 10px;
  }
  .answer-button {
    margin: 10px;
    width: 250px;
    height: 50px;
  }

}
   
